<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ba0ac">  <td>17/12/18 13:06:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:cucumberJava.DriverScript@63753b6d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1778532311</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/12/18 13:06:44</td>   <td>980</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverScript.setup(java.lang.String)[pri:0, instance:cucumberJava.DriverScript@63753b6d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1778532311</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>17/12/18 13:06:56</td>   <td>13258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:cucumberJava.DriverScript@63753b6d]">feature</td> 
  <td>TestNG@1778532311</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/12/18 13:11:44</td>   <td>301601</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.teardown()[pri:0, instance:cucumberJava.DriverScript@63753b6d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1778532311</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>17/12/18 13:11:44</td>   <td>301602</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:cucumberJava.DriverScript@63753b6d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1778532311</td>   <td></td> </tr>
</table>
